<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace = "com.ganghwan.seoulMatjip.user.area.dao.AreaDAO">
 
 	<!-- 지역 불러오기 -->
 	<select id = "selectArea" resultType = "com.ganghwan.seoulMatjip.user.area.model.Area">
 		SELECT
 			`id`
 			, `area`
 			, `createdAt`
 			, `updatedAt`
 		FROM
 			`area`
 	</select>
 	
 </mapper>