<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.ganghwan.seoulMatjip.user.dao.UserDAO">

	<!-- 로그인 -->
	<select id = "selectUser" parameterType = "map" resultType = "com.ganghwan.seoulMatjip.user.model.User">
		SELECT
			`id`
			, `loginId`
			, `password`
			, `userName`
			, `areaId`
			, `profileImage`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
		AND
			`password` = #{password}
	</select>
	
	<!-- 회원가입 -->
	<insert id = "insertUser" parameterType = "map">
		INSERT INTO `user`
		(
			`loginId`
			, `password`
			, `userName`
			, `areaId`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{loginId}
			, #{password}
			, #{userName}
			, #{areaId}
			, now()
			, now()
		)
	</insert>
	
	<!-- 중복확인 -->
	<select id = "selectCountId" parameterType = "String" resultType = "int">
		SELECT
			count(*)
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
	</select>
</mapper>